@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
	font-family: 'Open Sans', sans-serif;
}

label {
	display: flex;
	max-width: 250px;
	width: 100%;
	justify-content: space-between;
}
input {
	border-color: #ccc;
}
label,
input[type="submit"] {
	margin-top: 15px;
}

.form__error {
	color: red;
}